a {
    font-family: 'Capriola';
    font-size: 25px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #2a4d70;
    height: 100vh;
}

#login .container #login-row #login-column #login-box {
    margin-top: 50px;
    width: 1200px;
    height: 600px;
    border: 1px solid #9C9C9C;
    background-color: #5f616336;
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 15px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -80px;
}